* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* TRAVA GESTOS DA TELA NO CELULAR: */
    touch-action: none;
}

.screen {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Estilo Neon */
.neon-text {
    text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0;
    color: #fff;
    margin-bottom: 20px;
}

.neon-text-small {
    text-shadow: 0 0 5px #0f0;
    font-weight: bold;
}

.neon-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background: #111;
    border: 2px solid #0f0;
    color: #0f0;
    font-size: 18px;
    text-align: center;
    outline: none;
    border-radius: 8px;
}

.neon-button {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 2px solid #0f0;
    color: #0f0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #0f0 inset, 0 0 10px #0f0;
    transition: 0.2s;
    border-radius: 8px;
}

.neon-button:active {
    background: #0f0;
    color: #000;
}

.small-btn {
    padding: 10px;
    font-size: 14px;
    border-color: #f00;
    color: #f00;
    box-shadow: 0 0 10px #f00 inset, 0 0 10px #f00;
}
.small-btn:active { background: #f00; color: #000; }

.code-box {
    font-size: 40px;
    letter-spacing: 5px;
    margin: 20px 0;
}

/* Tabuleiro do Jogo */
#gameBoard {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #0f0;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

#dino {
    width: 30px;
    height: 30px;
    background-color: #0f0;
    position: absolute;
    bottom: 0;
    left: 30px;
    box-shadow: 0 0 10px #0f0;
}

#obstacle {
    width: 20px;
    height: 20px;
    background-color: #f00;
    position: absolute;
    bottom: 0;
    right: -20px;
    box-shadow: 0 0 10px #f00;
    display: none;
}

.jump {
    animation: jumpAnim 0.5s linear;
}

@keyframes jumpAnim {
    0% { bottom: 0; }
    40% { bottom: 80px; }
    50% { bottom: 90px; }
    60% { bottom: 80px; }
    100% { bottom: 0; }
}

.obs-move {
    animation: obsAnim 1.5s infinite linear;
}

@keyframes obsAnim {
    0% { right: -20px; }
    100% { right: 100%; }
}

.players-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.jump-btn {
    height: 80px;
    font-size: 24px;
}
